@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box; }

.heading-primary {
  color: #a40dd6;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 2rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation: moveInRight 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.8rem;
    animation: moveInLeft 1s ease-out; }

.heading-secondary {
  color: #a04bbd;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 0.2;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 3.5rem;
  font-size: 2.5rem;
  position: relative;
  background-color: #a04bbd;
  border-radius: 2rem;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-main {
  color: whitesmoke;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%); }

.row {
  display: flex;
  justify-content: space-evenly; }

.card {
  height: 50rem;
  width: 35rem;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 4rem;
  box-shadow: 0.5rem 0.8rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s; }
  .card:hover {
    transform: scale(1.1); }
  .card__item--img {
    width: 100%;
    height: auto; }
  .card__item--info {
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center; }
  .card__item--price {
    padding: 1.5rem;
    font-size: 3rem; }
  .card__1 {
    background-color: #1b85a8; }
  .card__2 {
    background-color: #a40dd6; }
  .card__3 {
    background-color: #53993c; }

.header {
  height: 95vh; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.logo {
  margin: 2rem 0 0 3rem; }
  .logo img {
    border-radius: 50%;
    width: 8rem; }

.nav {
  font-size: 1.6rem;
  list-style: none;
  opacity: 0; }

.section-about {
  background-image: linear-gradient(to right bottom, #e5adf7, #a40dd6);
  color: whitesmoke; }
  .section-about__content {
    font-size: 1.6rem;
    line-height: 2rem;
    height: 10rem; }

.section-items {
  background-color: #dadada;
  color: whitesmoke; }
  .section-items h2 {
    color: #818181; }
