$color-primary-light: rgb(229, 173, 247);
$color-primary-medium: rgb(160, 75, 189);
$color-primary-dark: rgb(164, 13, 214);

$color-secondary-light: rgb(146, 245, 113);
$color-secondary-medium: rgb(108, 187, 81);
$color-secondary-dark: rgb(83, 153, 60);

$color-tertiary-light: rgb(27, 133, 168);
$color-tertiary-medium: rgb(19, 95, 120);
$color-tertiary-dark: rgb(16, 78, 99);

$color-grey-light: rgb(218, 218, 218);
$color-grey-medium: rgb(170, 170, 170);
$color-grey-dark: rgb(129, 129, 129);

$color-white: whitesmoke;
$color-black: black;

$default-font-size: 1.8rem;

$default-padding-text: 1.5rem;
$default-padding-heading: 3rem 0 3rem 20rem;
