$color-primary-light: rgb(213, 119, 231);
$color-primary-medium: rgb(187, 79, 209);
$color-primary-dark: rgb(122, 27, 141);

// $color-secondary-light
// $color-secondary-medium
// $color-secondary-dark

// $color-tertiary-light
// $color-tertiary-medium
// $color-tertiary-dark

$color-white: whitesmoke;
$color-black: black;

$default-font-size: 1.6rem;
