$color-primary-light: rgb(229, 173, 247);
$color-primary-medium: rgb(160, 75, 189);
$color-primary-dark: rgb(164, 13, 214);

$color-secondary-light: rgb(146, 245, 113);
$color-secondary-medium: rgb(108, 187, 81);
$color-secondary-dark: rgb(83, 153, 60);

$color-tertiary-light: rgb(27, 133, 168);
$color-tertiary-medium: rgb(19, 95, 120);
$color-tertiary-dark: rgb(16, 78, 99);

$color-grey-light: rgb(218, 218, 218);
$color-grey-medium: rgb(170, 170, 170);
$color-grey-dark: rgb(129, 129, 129);

$color-white: whitesmoke;
$color-black: black;

$default-font-size: 1.8rem;
$large-font-size: 2rem;

$default-padding-text: 1.5rem;
$default-padding-heading: 3rem 0 3rem 20rem;

$bp-xxl: 93.75em; // 1500px
$bp-xl: 75em; // 1200px
$bp-lg: 68.75em; // 1100px
$bp-md: 56.25em; // 900px
$bp-sm: 37.5em; // 600px
$bp-xs: 31.25em; // 500px
$bp-xxs: 25em; // 400px
