.section-about {
	&__heading {
		color: $color-grey-light;
		padding: $default-padding-heading;

		@media only screen and (max-width: $bp-md) {
			padding-left: 0;
			justify-self: center;
		}
	}
	&__content {
		font-size: $default-font-size;
		line-height: 2.5rem;
		height: 50rem;
		max-width: 50rem;
		padding: 10rem;
		grid-row: 2 / 3;

		@media only screen and (max-width: $bp-md) {
			font-size: 1.4rem;
			height: 25rem;
			justify-self: center;
		}

		@media only screen and (max-width: $bp-sm) {
			font-size: 1.2rem;
			height: 15rem;
			max-width: 90%;
			padding: 3rem;
		}
	}

	&__img {
		width: 70%;
		height: auto;
		clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
		margin: 3rem 0;
		grid-row: 2 / 3;

		@media only screen and (min-width: $bp-xxl) {
			width: 50%;
		}

		@media only screen and (max-width: $bp-md) {
			width: 30%;
			clip-path: polygon(20% 0%, 0% 50%, 20% 100%, 80% 100%, 100% 50%, 80% 0%);
			grid-row: 3 / 4;
			justify-self: center;
		}
	}
}
