.footer {
	background-color: $color-grey-dark;
	height: 15rem;
	font-size: $default-font-size;
	color: $color-white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3rem;
	justify-content: center;
	align-items: center;

	&__copy {
		grid-column: 2 / 3;
		justify-self: center;

		@media only screen and (max-width: $bp-sm) {
			grid-column: 1 / span 3;
		}
	}

	&__link {
		text-decoration: none;
		color: $color-tertiary-medium;

		&:hover {
			color: $color-secondary-medium;
		}
	}
}
