.header {
	height: 100vh;
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 25vh;

	@media only screen and (max-width: $bp-xxs) {
		grid-template-columns: 25% 50% 25%;
	}

	&__text-box {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}

.logo {
	margin: 2rem 0 0 3rem;

	& img {
		border-radius: 50%;
		width: 8rem;
	}
}
