.btn {
	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 2rem 3.5rem;
		font-size: 2.5rem;
		position: relative;
		background-color: $color-primary-medium;
		border-radius: 2rem;
		transition: all 0.2s;

		@media only screen and (max-width: $bp-xs) {
			font-size: 2rem;
		}
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(-1px);
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
	}

	&-main {
		color: $color-white;
		height: 7rem;
		width: 23rem;
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		justify-self: center;

		@media only screen and (max-width: $bp-xs) {
			height: 6rem;
			width: 20rem;
		}
	}
}
