.social {
	display: flex;
	flex-direction: column;
	align-items: center;

	&--text {
		font-size: $large-font-size;
		line-height: 5rem;
		height: 15rem;
		max-width: 120rem;
		padding: 5rem 10rem;

		@media only screen and (max-width: $bp-md) {
			font-size: 1.6rem;
			padding: 4rem 8rem;
		}

		@media only screen and (max-width: $bp-xs) {
			font-size: 1.4rem;
			line-height: 3rem;
			width: 90%;
			padding: 3rem 4rem;
		}
	}
}

.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem 0;

	&__box {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;

		&:not(:last-child) {
			margin-right: 5rem;

			@media only screen and (max-width: $bp-md) {
				margin-right: 3rem;
			}

			@media only screen and (max-width: $bp-sm) {
				margin-right: 1.5rem;
			}
		}
	}

	&--icon {
		width: 5rem;
		height: auto;

		@media only screen and (max-width: $bp-sm) {
			width: 4rem;
		}

		&-1 {
			fill: #1877f2;
		}
		&-2 {
			fill: #c32aa3;
		}
		&-3 {
			fill: #69c9d0;
		}
	}

	&--link {
		cursor: pointer;
		text-decoration: none;
		font-size: 1.4rem;
		padding: 0 3rem;

		&:hover {
			transform: scale(120%);
		}
	}
}
