.heading-primary {
	color: $color-primary-dark;
	text-transform: uppercase;

	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 600;
		letter-spacing: 2rem;
		animation-name: moveInRight;
		animation-duration: 1s;
		animation: moveInRight 1s ease-out;

		@media only screen and (max-width: $bp-sm) {
			font-size: 4rem;
		}
		@media only screen and (max-width: $bp-xs) {
			font-size: 2.5rem;
		}
	}

	&--sub {
		display: block;
		font-size: 4rem;
		font-weight: 400;
		letter-spacing: 0.8rem;
		animation: moveInLeft 1s ease-out;

		@media only screen and (max-width: $bp-sm) {
			font-size: 3rem;
		}
		@media only screen and (max-width: $bp-xs) {
			font-size: 1.5rem;
		}
	}
}

.heading-secondary {
	color: $color-primary-medium;
	font-size: 2.5rem;
	font-weight: 500;
	text-transform: uppercase;
}
