.section-about {
	background-image: linear-gradient(
		to right bottom,
		$color-primary-light,
		$color-primary-dark
	);
	color: $color-white;
	max-height: 50rem;
	display: flex;
	justify-content: space-between;

	& h2 {
		padding: $default-padding-heading;
	}
}

.section-items {
	background-color: $color-grey-light;
	color: $color-white;

	& h2 {
		color: $color-grey-dark;
		padding: $default-padding-heading;
	}
}

.section-contact {
	background-image: linear-gradient(
		to left bottom,
		$color-primary-dark,
		$color-primary-light
	);
	color: $color-white;
}
