.section-about {
	background-image: linear-gradient(
		to right bottom,
		$color-primary-light,
		$color-primary-dark
	);
	color: $color-white;

	&__content {
		font-size: $default-font-size;
		line-height: 2rem;
		height: 10rem;
		max-width: 120rem;
		margin: 0 auto;
	}

	& h2 {
		padding: $default-padding-heading;
	}
}

.section-items {
	background-color: $color-grey-light;
	color: $color-white;

	& h2 {
		color: $color-grey-dark;
		padding: $default-padding-heading;
	}
}

.section-contact {
	background-image: linear-gradient(
		to left bottom,
		$color-primary-dark,
		$color-primary-light
	);
	color: $color-white;

	&__social {
		&--text {
			font-size: $default-font-size;
			line-height: 2rem;
			height: 30rem;
			max-width: 120rem;
			margin: 0 auto;
		}

		&--icon {
			width: 4rem;
			height: auto;

			&-1 {
				fill: #1877f2;
			}
			&-2 {
				fill: #c32aa3;
			}
			&-3 {
				fill: #69c9d0;
			}
		}
	}
}
